html {
  line-height: $base-line-height;
  font-size: $base-font-size;
  font-family: $font-family;
}
header {
  background: $primary-color;
  color: #fafafa;
}
footer {
  background: $secondary-color;
  color: #fafafa;
}
