<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/compiled.css">
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% include '_includes/_header.html' %}
    {% include '_includes/_nav.html' %}
    {% block random %}{% endblock %}
    {% block content_title %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% include '_includes/_footer.html' %}
  </body>
</html>
